{% load i18n static sekizai_tags sass_tags %}

{% addtoblock "js" %}<script src="{% static 'shop/js/pricing-products.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% set np=instance.products|length %}
{% set ncol=12//np %}

<div class="container">
    <div class="tab-pane" id="productset-{{instance.id}}" role="tabpanel" aria-labelledby="productset-tab">
       <div class="row">
    {% for plan in instance.plans %}
            <div class="col-md-{{ncol}}">
              <div class="card pricing-card text-center shadow border-0">
                <div class="card-header">
                  <h5 class="pricing-product-title">{% trans product.title %}</h5>
                  <h3 class="pricing-product-cost">product.price</h3>
                </div>
                <div class="card-body">
                  <div class="card-pitch">
                    <p class="pricing-product-caption">{% trans product.detailed_caption %}</p>
                    <p class="pricing-product-pitch">{% trans product.pitch %}</p>
                  </div>
                  <ul class="pricing-product-features">
    {% for feature in product.features %}
                    <li>feature</li>
    {% endfor %}
                  </ul>
                  <a href="#!" class="btn btn-success pricing-product-purchase-btn">{% trans "Subscribe Now" %}</a>
                </div>
              </div>
            </div>
    {% endfor %}
        </div>
    </div>
</div>
